:root {
    /*Paleta Principal*/
    --dark-primary: #455A64;
    --primary: #607D8B;
    --light-primary: #CFD8DC;
    --accent: #FF5722;

    /*Paleta Texto*/
    --text-light: #FFFFFF;
    --text-primary: #212121;
    --text-secondary: #757575;

    /* Otros */
    --divider: #BDBDBD;

    /*Tipografías*/
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Nunito Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-primary);
    color: var(--text-primary);
    font-family: var(--font-body);
    line-height: 1.6;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-title);
    color: var(--primary);
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
    color: var(--text-secondary);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
}
.main-header {
    background: linear-gradient(to bottom, var(--dark-primary), var(--primary));
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--accent);
}
.logo-container h1{
    font-family: var(--font-title);
    color: var(--text-light);
    font-size: 2rem;

}



.user-profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--accent);
    transition: 0.2s ease-in-out;
}

.user-profile img:hover {
    transform: scale(1.1);
}

.main-nav{
    background-color: var(--primary);
    border-top: 2px solid var(--accent);
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.main-nav a {
    color: var(--text-light);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
}
.main-nav a:hover,
.main-nav a.active {
    color: var(--accent);
}